{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h2 class="heading-title m-b-35">{{movie_obj.name}}</h2>
        <div>
            <img src="{{ movie_obj.movie_image_url }}" height="300" width="300">
        </div>
        <div>
            <p class="director-note">
            {{movie_obj.movie_story_line}}
            </p>
        </div>

        <h3 class="title-3 m-b-45">Director: <a href="/imdb/director/{{ movie_obj.director.id}}/">{{movie_obj.director.name}}</a></h3>

        <h3 class="title-5 m-b-45">Actors</h3>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                <tr>
                    <th>Actor id</th>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th>Role</th>
                    <th></th>
                </tr>
                </thead>
                {% for cast in cast_list %}
                <tbody>
                <tr class="tr-shadow">
                    <td>{{cast.actor.actor_id}}</td>
                    <td>
                        <a href="/imdb/actor/{{cast.actor_id}}/">{{cast.actor.name}}</a>
                    </td>
                    <td>{{cast.actor.date_of_birth}}</td>
                    <td>{{cast.role}}</td>
                </tr>
                <tr class="spacer"></tr> 
                </tbody>
                {% endfor %}
            </table>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>

{% endblock %}

